/* Memo :

    vh = "viewport height" : pourcentage de hauteur de la fenêtre 
    vw = "viewport widht" : pourcentage de largeur de la fenêtre

    h1
    color: #f94c43;

    Page actuel
    color: #fce300;

    couleur Titre
    background-color: rgba(0, 0, 0);

    couleur Texte
    color: #f6d317;

    couleur footer
    background-color: rgba(0, 0, 0, 0.8);



    Decouverte 
    
    background image
    background-size cover
    background-position center
    background-blend-mode darken
    text-transform uppercase

    voir github auer404
*/

body{
    background-color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300;
    margin: 0;
    /* width: 60%; */
    /* text-align: center; */
}
/********************** Menu Nav **********************/
header{
    /* height: 50vh;*/
    width: 100%;
    background-color: rgba(0, 0, 0);
}
nav{
    display: flex;
    justify-content: center;
    /* 
    border-width: 3px;
    border-style: solid 
    border-color: black;*/
    /* Version raccourci */
    /* border:3px solid black; */

    padding: 1%; 
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;


    display: flex;
    gap: 30px;


}

nav a{
    color: #f6d317;
    text-decoration: none;
    font-family: sans-serif;
    /* font-style: light; */
}

nav a:hover{
    color: #f94c43;
    font-size: large;
}

h1{
    color:#f94c43;
    text-align: center;
    justify-content: center;
    /* border: none; */
    /* padding: 3px; */
    padding: 10px;
    margin: 0;
    font-family: "Nunito Sans";
}

.page_actuel{
    color: #fbff00;
    font-weight: bold;
}
/********************** Nav Fin ***********************/

.parallax {
    background-image: url(/img/Luv-Resval.png.webp);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 80%;
    padding-left: 30px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    display: block;
    margin: auto;

}
/* p{
    /* padding-top: 10px; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; 
    
} */


.p1{
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}
.p2{
    padding: 10px;
}
a{
    text-decoration: none;
    font-weight: bold;
}
footer{
    background-color: rgba(0, 0, 0, 0.8);
    color: #f6d317;
    padding: 10px;
    display: block;
    justify-content: flex-end;
    width: 99%;
    height: 20vh;
}
footer a{
    text-decoration: none;
    color: #fbff00;

}
